InterpressExam.Service.Windows.Downloader/Connected Services/ListenSrvRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WCFServiceHostNetTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListenService_FireDatabaseEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:FireDatabaseEvents" />
  </wsdl:message>
  <wsdl:message name="IListenService_FireDatabaseEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:FireDatabaseEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IListenService_BroadcastToClients_InputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClients" />
  </wsdl:message>
  <wsdl:message name="IListenService_BroadcastToClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IListenService">
    <wsdl:operation name="FireDatabaseEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IListenService/FireDatabaseEvents" message="tns:IListenService_FireDatabaseEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListenService/FireDatabaseEventsResponse" message="tns:IListenService_FireDatabaseEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IListenService/BroadcastToClients" message="tns:IListenService_BroadcastToClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListenService/BroadcastToClientsResponse" message="tns:IListenService_BroadcastToClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WCFServiceHostNetTcpEndPoint" type="tns:IListenService">
    <wsp:PolicyReference URI="#WCFServiceHostNetTcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="FireDatabaseEvents">
      <soap12:operation soapAction="http://tempuri.org/IListenService/FireDatabaseEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClients">
      <soap12:operation soapAction="http://tempuri.org/IListenService/BroadcastToClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListenService">
    <wsdl:port name="WCFServiceHostNetTcpEndPoint" binding="tns:WCFServiceHostNetTcpEndPoint">
      <soap12:address location="net.tcp://localhost:8080/ListenSvc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/ListenSvc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/FROST-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>